<h1>Instance Status</h1>

<div>
  <h3>Agents</h3>
  {{#each this.instance.agents}}
    <li>
      <strong>{{sugarUserName}}</strong><span class="label label-success">{{status}}</span>
    </li>
  {{/each}}
</div>
<div>
  <h3>Activity</h3>
  <table>
    <tbody>
      <tr>
        <td>Total calls</td>
        <td><span class="badge badge-success">{{this.totalCalls}}</span></td>
      </tr>
      <tr>
        <td>Inboud calls</td>
        <td><span class="badge badge-success">{{this.inboundCalls}}</span></td>
      </tr>
      <tr>
        <td>Inboud lost calls</td>
        <td><span class="badge badge-success">{{this.inboundLostCalls}}</span></td>
      </tr>
      <tr>
        <td>Outbound calls</td>
        <td><span class="badge badge-success">{{this.outboundCalls}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h3>Calls per hour</h3>
  <table>
  {{#each this.calls_per_hoursToArray}}
    <tr>
      <td>
        <strong>{{hour}}:</strong>
      </td>
      <td>
        <span class="badge badge-success">{{value}}</span>
      </td>
    </tr>
  {{/each}}
  </table>
</div>

